<section class="sect-stories-list">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="name-stories-list">Історії</div>
      </div>
    </div>
  </div>
  <div class="container cont2-sect-stories-list">
    <div class="row">

      <div class="col-md-9 col-sm-9">

        <div class="filter">
          <span class="filter-label">Перегляд за:</span>
          <span class="filter-trigger {{if showDropdown 'filter-trigger-active'}}" {{action 'toggleDropdown'}}>Темою</span>

          {{#if showDropdown}}
            <div class="filter-dropdown-container">
              <ul class="filter-dropdown-visible">
                <li><a href="#">Темою</a></li>
                <li>{{#link-to "stories.index" (query-params f=null)}}Всі{{/link-to}}</li>
                {{#each filters as |filter|}}
                  <li>{{#link-to "stories.index" (query-params f=filter.lira)}}{{filter.name}}{{/link-to}}</li>
                {{/each}}
              </ul>
            </div>
          {{/if}}
        </div>

        <div class="block1-stories-list"></div>

        {{story/story-list-vertical
          items=items}}

        {{#if canLoadMore}}
          <div class="text-center">
            <div {{action "loadMore"}}
              class="btn btn-more btn-stories">
              відкрити більше
            </div>
          </div>
        {{/if}}

      </div>

      <div class="col-md-3 col-sm-3">
        <div class="block-popular">
          <div class="t-popular">популярне</div>

          <div class="box1-popular"></div>

          {{story/story-list-popular
            items=model.popular}}

        </div>
      </div>
    </div>
  </div>
</section>