<section class="sect-stories-list">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="name-stories-list">Історії</p>
      </div>
    </div>
  </div>
  <div class="container cont2-sect-stories-list">
    <div class="row">

      <div class="col-md-9 col-sm-9">
        <span class="t_cat">Перегляд за:</span>
        <span class="trigger {{if showDropdown 'activetrigger'}}" {{action 'toggleDropdown'}}>Темою</span>

        {{#if showDropdown}}
          <div class="dropcontainer">
            <ul class="dropdownvisible">
              <li><a href="#">Темою</a></li>
              <li><a href="#">Візії розвитку громадянського суспільства</a></li>
              <li><a href="#">Соціальне підприємництво</a></li>
              <li><a href="#">Соціальні послуги стратегії</a></li>
              <li><a href="#">Управління організаціями</a></li>
              <li><a href="#">Ефективні комунікації</a></li>
            </ul>
          </div>
        {{/if}}

        <div class="block1-stories-list"></div>

        {{#each model.items as |item|}}
          <div class="block-stories-list">
            <div class="pull-left img-box-stories" style="{{item.imageStyle}}"></div>
            <div class="media-body box-stories-list">
              <div class="title-box-stories-list"><a href="">{{item.title}}</a></div>
              <div class="about-box-stories-list">{{item.summary}}</div>
            </div>
          </div>
        {{/each}}

        <div class="text-center">
          <a class="btn btn-more btn-stories">відкрити більше</a>
        </div>

      </div>

      <div class="col-md-3 col-sm-3">
        <div class="block-popular">
          <div class="t-popular">популярне</div>

          <div class="box1-popular"></div>

          {{#each model.popular as |item|}}
            <div class="box-popular">
              <div class="pull-left img-box-popular" style="{{item.imageStyle}}"></div>
              <div class="media-body">
                <div class="title-box-popular">{{item.title}}</div>
              </div>
            </div>
          {{/each}}

        </div>
      </div>
    </div>
  </div>
</section>