<section class="practice-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <img src="{{item.image_url}}" alt="" class="img-fluid" style="width: 100%; height: auto;">
        <div class="practice-title">{{item.title}}</div>
        <div class="practice-category">{{t "practices"}}</div>
      </div>
    </div>
  </div>
</section>

<section class="practice-body">
  <div class="container cont2-practice">
    <div class="row">
      <div class="col-md-4 col-sm-3">
        <div class="practice-time disp_n_768">
          <i class="fa fa-clock-o"></i> {{moment-format item.created "DD.MM.YYYY"}}
        </div>
      </div>
      <div class="col-md-7 col-sm-9">
        <div class="block-practice-right">
          {{{item.description}}}
        </div>
      </div>
    </div>
  </div>
</section>