{{#click-outside action=(action 'closeDropdown')}}
  <div class="trigger {{if showDropdown 'activetrigger'}}" {{action 'toggleDropdown'}}>
    {{if currentFilterLabel currentFilterLabel name}}
    <i class="fa fa-caret-{{if showDropdown 'up' 'down'}}"></i>
  </div>

  {{#if showDropdown}}
    <div class="dropcontainer">
      <ul class="dropdownvisible" {{action 'closeDropdown'}}>
        {{yield}}
      </ul>
    </div>
  {{/if}}
{{/click-outside}}