{{#if media.isMobile}}
  <section class="sect-event">

    <aside id="event-aside" class="event-aside">
      <div class="ml-3">
        <div>
          {{share/share-facebook
            item=item}}
        </div>
        <div class="mt-3">
          {{share/share-twitter
            item=item}}
        </div>
      </div>
    </aside>

    <div id="event-article" class="event-article">
      <div class="container">
        <div class="row">

          <div class="col-md-12 col-sm-12 col-12">
            <div class="event-date">

              <div class="event-actual">
                <img class="event-icon" src="/images/icon-opportunity.png" alt="">
              </div>

              <div class="row">
                <div class="col-sm-6">
                  <div class="event-day">
                    {{moment-format item.startdate "DD"}}
                  </div>
                  <div class="event-year">
                    {{moment-format item.startdate "MMM"}}
                    {{moment-format item.startdate "YYYY"}}
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="event-day">
                    {{moment-format item.enddate "DD"}}
                  </div>
                  <div class="event-year">
                    {{moment-format item.enddate "MMM"}}
                    {{moment-format item.enddate "YYYY"}}
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="col-md-12 col-sm-12 col-12">
            <div class="event-category">Події</div>
            <div class="event-title">{{item.title}}</div>
          </div>

        </div>

      </div>

      <div class="container cont2-event">

        <div class="row">

          <div class="col-md-12 col-sm-12 col-12">
            <img src="{{item.image_url}}" class="img-fluid" alt="Заглавна картинка">
            <div class="event-description">
              {{{item.description}}}
            </div>
          </div>

        </div>

      </div>

    </div>

  </section>
{{else}}
  <section class="sect-event">

    <aside id="event-aside" class="event-aside">
      <div class="ml-3">
        <div>
          {{share/share-facebook
            item=item}}
        </div>
        <div class="mt-3">
          {{share/share-twitter
            item=item}}
        </div>
      </div>
    </aside>

    <div id="event-article" class="event-article">
      <div class="container">

        <div class="row">

          <div class="col-md-3 col-sm-3 col-12 pos_rel">
            <div class="row">
              <div class="col-12 text-right">
                <img class="event-icon" src="/images/icon-opportunity.png" alt="">
              </div>
            </div>
            <div class="event-date">
              <div class="event-date-begin">
                <div class="event-day">
                  {{moment-format item.startdate "DD"}}
                </div>
                <div class="event-year">
                  {{moment-format item.startdate "MMM"}}
                  {{moment-format item.startdate "YYYY"}}
                </div>
              </div>
              <div class="event-date-end">
                <div class="event-end-day">
                  -{{moment-format item.enddate "DD"}}
                </div>
                <div class="event-end-year">
                  {{moment-format item.enddate "MMM"}}
                  {{moment-format item.enddate "YYYY"}}
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 offset-md-1 col-sm-9 offset-sm-1 col-xs-12">
            <div class="event-category">Події</div>
            <div class="event-title">{{item.title}}</div>
          </div>

        </div>

      </div>

      <div class="container cont2-event">

        <div class="row">

          <div class="col-md-3 col-sm-3">
            <div class="block-event">
              <div class="organizers">Організатори</div>
              <ul class="list-organizers">
                <li>{{item.organizer.title}}</li>
                {{!--<li>Представництво ЄС в Україні</li>--}}
                {{!--<li>Міністерство закордонних справ України</li>--}}
              </ul>
            </div>
          </div>

          <div class="col-md-7 offset-md-1 col-sm-9">
            <img src="{{item.image_url}}" class="img-fluid" alt="Заглавна картинка">
            <div class="event-description">
              {{{item.description}}}
            </div>
          </div>

        </div>

      </div>

    </div>

  </section>
{{/if}}