<section class="story-top" style="{{item.imageStyle}}">

  <div class="container story-title">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <div class="title-story text-center">{{item.title}}</div>
        <div class="cat-story">історії</div>
        <div class="time-story disp_b_768">
          <i class="fa fa-clock-o"></i> {{moment-format item.created "DD.MM.YYYY"}}
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="summary-story-page">{{item.summary}}</div>
      </div>
    </div>
  </div>

</section>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>


<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 px-0">
      <img src="{{item.image_url}}" alt="" class="img-fluid" style="width: 100%; height: auto;">
      <div class="position-absolute"
           style="top: 0px; left: 0px; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5);">
        <div class="container d-flex" style="height: 100%; color: #eeeeee;">
          <div class="m-auto">
            <h1 class="text-center post-h1 mb-lg-5 mb-1"
                style="font-size: 2.5em; font-weight: normal;">{{item.title}}</h1>
            <div class="text-center" style="font-size: 80%;">
              <span>Європейський простір</span>
              <span><i class="fa fa-clock-o"></i> {{moment-format item.created "DD-MM-YYYY"}}</span>
              <span><i class="fa fa-eye"></i> {{item.views}}</span>
              <span><i class="fa fa-comment-o"></i> {{item.comments}}</span>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <!-- Latest Posts -->
    <main class="post blog-post col-lg-12">
      <div class="container">
        <div class="row post-single">
          <div class="post-body col-lg-10 offset-lg-1">
            {{{item.description}}}
          </div>
        </div>
      </div>
    </main>
    <!-- Sidebar was here -->
  </div>
</div>