<section class="story-top" style="{{item.imageStyle}}">

  <div class="container story-title">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <div class="title-story text-center">{{item.title}}</div>
        <div class="cat-story">історії</div>
        <div class="time-story disp_b_768">
          <i class="fa fa-clock-o"></i> {{moment-format item.created "DD.MM.YYYY"}}
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="summary-story-page">{{item.summary}}</div>
      </div>
    </div>
  </div>

</section>

<section class="story">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-3">
        <div class="time-story disp_n_768">
          <i class="fa fa-clock-o"></i> {{moment-format item.created "DD.MM.YYYY"}}
        </div>
      </div>
      <div class="col-md-7 col-sm-9 block-right-story">
        {{{item.description}}}
      </div>
    </div>
  </div>
</section>