<section class="story-header" style="{{item.imageStyle}}">

  <div class="container story-title-container">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <div class="story-title text-center">{{item.title}}</div>
        <div class="story-category">історії</div>
        <div class="story-time disp_b_768">
          <i class="fa fa-clock-o"></i> {{moment-format item.created "DD.MM.YYYY"}}
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="story-summary">{{item.summary}}</div>
      </div>
    </div>
  </div>

</section>

<section class="story-body">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-3">
        <div class="story-time disp_n_768">
          <i class="fa fa-clock-o"></i> {{moment-format item.created "DD.MM.YYYY"}}
        </div>
      </div>
      <div class="col-md-7 col-sm-9 story-description">
        {{{item.description}}}
      </div>
    </div>
  </div>

  <div class="block-share" id="aside1" style="height: 144px; padding: 0px; border: 0px;">
    <div class=""
         style="background: none 0% 0% / auto repeat scroll padding-box border-box rgba(0, 0, 0, 0); background-blend-mode: normal; border: 0px none rgb(51, 51, 51); border-radius: 0px; border-collapse: separate; box-shadow: none; outline: rgb(51, 51, 51) none 0px; outline-offset: 0px; overflow-anchor: auto; overflow-wrap: normal; overflow: visible; padding: 0px; box-sizing: border-box; width: 48px;">
      <div class="box-f-share">
        <a href="f-share"><img src="images/f-share.png" alt=""></a>
        <span>241</span>
      </div>
      <div class="box-tw-share">
        <a href="tw-share"><img src="images/tw-share.png" alt=""></a>
        <span>0</span>
      </div>
    </div>
  </div>
</section>