<section class="sect-story-header" style="{{item.imageStyle}}">

  <div class="container story-title-container">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <div class="story-title text-center">{{item.title}}</div>
        <div class="story-category">{{t "stories"}}</div>
        <div class="story-time">
          <i class="fa fa-clock-o"></i> {{moment-format item.created "DD.MM.YYYY"}}
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="story-summary">{{item.summary}}</div>
      </div>
    </div>
  </div>

</section>

<section id="story-body" class="sect-story-body">
  <aside id="story-aside" class="story-aside">
    <div class="ml-3">
      <div>
        {{share/share-facebook
          item=item}}
      </div>
      <div class="mt-3">
        {{share/share-twitter
          item=item}}
      </div>
    </div>
  </aside>

  <div id="story-article" class="story-article container">
    <div class="row">
      {{#if media.isMobile}}
        <div class="col-md-12 story-description">
          {{{item.description}}}
        </div>
      {{else}}
        <div class="col-md-4 col-sm-3">
          <div class="story-time">
            <i class="fa fa-clock-o"></i> {{moment-format item.created "DD.MM.YYYY"}}
          </div>
        </div>
        <div class="col-md-7 col-sm-9 story-description">
          {{{item.description}}}
        </div>
      {{/if}}
    </div>
  </div>
</section>