{{#click-outside action=(action 'closeDropdown')}}
  <div class="filter">
    <span class="t_cat">Перегляд за:</span>
    <span class="trigger {{if showDropdown 'activetrigger'}}" {{action 'toggleDropdown'}}>
    {{if currentFilterLabel currentFilterLabel 'Темою'}}
      <i class="fa fa-caret-{{if showDropdown 'up' 'down'}}"></i>
  </span>

    {{#if showDropdown}}
      <div class="dropcontainer">
        <ul class="dropdownvisible">
          <li><a href="#">Темою</a></li>
          <li>{{#link-to endpoint (query-params f=null)}}Всі{{/link-to}}</li>
          {{#each filters as |filter|}}
            <li>{{#link-to endpoint (query-params f=filter.lira)}}{{filter.name}}{{/link-to}}</li>
          {{/each}}
        </ul>
      </div>
    {{/if}}
  </div>
{{/click-outside}}