{{#click-outside action=(action 'closeDropdown')}}
  <div class="filters">
    <div class="label">Перегляд за:</div>

    <div class="filter">
      <div class="trigger {{if showDropdown 'activetrigger'}}" {{action 'toggleDropdown'}}>
        {{if currentFilterLabel currentFilterLabel defaultFilterLabel}}
        <i class="fa fa-caret-{{if showDropdown 'up' 'down'}}"></i>
      </div>

      {{#if showDropdown}}
        <div class="dropcontainer">
          <ul class="dropdownvisible">
            <li>{{#link-to endpoint (query-params f=null)}}Всі{{/link-to}}</li>
            {{yield}}
            {{#each filters as |filter|}}
              <li>{{#link-to endpoint (query-params f=filter.lira)}}{{filter.name}}{{/link-to}}</li>
            {{/each}}
          </ul>
        </div>
      {{/if}}
    </div>
  </div>
{{/click-outside}}