{{#if media.isMobile}}
  <header class="header-top">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <div class="block-lang">
            {{#link-to "index"}}UA{{/link-to}}
            {{#link-to "en"}}EN{{/link-to}}
          </div>
        </div>
        <div class="col-6">
          <div class="block-lang text-right">
            <div role="button" onclick="$('.menu-mobile').show('slide');">
              {{material-design-icon name='menu'}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="menu-mobile" style="display: none;">
    <div class="container p30">
      <div class="row">
        <div class="col-6">
          <div class="block-lang">
            {{#link-to "index"}}UA{{/link-to}}
            {{#link-to "en"}}EN{{/link-to}}
          </div>
        </div>
        <div class="col-6 text-right">
          <div onclick="$('.menu-mobile').hide('slide');">
            <img src="/images/close_menu.png" alt=""/>
          </div>
        </div>
      </div>
    </div>
    <ul class="menu-mobile-list">
      <li>{{#link-to "index"}}Головна{{/link-to}}</li>
      <li>{{#link-to "stories.index" (query-params f=null)}}Історії{{/link-to}}</li>
      <li>{{#link-to "practices.index" (query-params f=null)}}Практики{{/link-to}}</li>
      <li>{{#link-to "opportunities.index" (query-params f=null)}}Можливості{{/link-to}}</li>
      <li>{{#link-to "courses.index" (query-params f=null)}}Навчання{{/link-to}}</li>
      <li>{{#link-to "events.index" (query-params m=null y=null)}}Події{{/link-to}}</li>
      <li>{{#link-to "resources.index" (query-params f=null t=null)}}Ресурси{{/link-to}}</li>
    </ul>
    <form action="" method="post" class="search-mobile">
      <input type="search" name="" placeholder="{{t "search"}}" class="input-search col-8"/>
      <input type="submit" name="" value="" class="btn-search-submit"/>
    </form>
    <div class="container p30 cont2-mobile">
      <div class="row">
        <div class="col-6">
          <div class="social-mobile">
            <a class="icon_f" href="https://www.facebook.com/EuProstir" target="_blank"></a>
            <a class="icon_tw" href="https://twitter.com/EuProstir" target="_blank"></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="sect-menu {{if isStoryItem 'sect-menu-inverted' ''}}">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          {{#link-to "index"}}
            <div class="logotip" alt=""></div>
          {{/link-to}}
        </div>
      </div>
    </div>
  </section>
{{else}}
  <header class="header-top">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-3">
          <div class="block-lang">
            {{#link-to "index"}}UA{{/link-to}}
            {{#link-to "en"}}EN{{/link-to}}
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-3 disp_n_768">
          <div class="block-social-desktop text-right">
            <a href="https://www.facebook.com/EuProstir" target="_blank"><img src="/images/ic_f_top.png" alt=""/></a>
            <a href="https://twitter.com/EuProstir" target="_blank"><img src="/images/ic_tw_top.png" alt=""/></a>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section class="sect-menu sect-menu-desktop {{if isStoryItem 'sect-menu-inverted' ''}}">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-3">
          {{#link-to "index"}}
            <div class="logotip" alt=""></div>
          {{/link-to}}
        </div>
        <div class="col-md-9 col-sm-9 pos-rel">
          <div class="top-menu">
            <div class="navbar-collapse">
              <ul class="nav nav-pills">
                <li>{{#link-to "stories.index" (query-params f=null)}}Історії{{/link-to}}</li>
                <li>{{#link-to "practices.index" (query-params f=null)}}Практики{{/link-to}}</li>
                <li>{{#link-to "opportunities.index" (query-params f=null)}}Можливості{{/link-to}}</li>
                <li>{{#link-to "courses.index" (query-params f=null)}}Навчання{{/link-to}}</li>
                <li>{{#link-to "events.index" (query-params m=null y=null)}}Події{{/link-to}}</li>
                <li>{{#link-to "resources.index" (query-params f=null t=null)}}Ресурси{{/link-to}}</li>
              </ul>
            </div>
          </div>
          <div class="block-search disp_n_768">
            <a onclick="$('.search').toggle('slide');$('.btn-search').hide('');$('.btn-close').show('');">
              <div class="btn-search"></div>
            </a>
            <a onclick="$('.search').toggle('slide');$('.btn-close').hide('');$('.btn-search').show('');">
              <img class="btn-close" style="display: none;" src="/images/close_btn.png" alt="">
            </a>
            {{common/common-search}}
          </div>
        </div>
      </div>
    </div>
  </section>
{{/if}}