<section class="courses-section">

  <div class="container courses-header-container">
    <div class="row">
      <div class="col-md-12 pos-rel">
        <div class="courses-category">навчання</div>
        <div class="courses-online-header">Онлайн курси</div>
        <div class="courses-popular-header">наші популярні курси</div>
      </div>
    </div>
  </div>

  <div class="courses-popular-container">
    {{course/course-list-popular
      items=model.popular}}
  </div>

  <div class="courses-tile-container">

    <div class="container courses-select-container">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="courses-select-header">обери курс для себе</div>
        </div>
      </div>
    </div>

    <div class="container courses-select-container">
      <div class="row">
        <div class="col-md-12">

          <div class="filter">
            <span class="filter-label">Перегляд за:</span>
            <span class="filter-trigger {{if showDropdown 'filter-trigger-active'}}" {{action
              'toggleDropdown'}}>Темою</span>

            {{#if showDropdown}}
              <div class="filter-dropdown-container">
                <ul class="filter-dropdown-visible">
                  <li><a href="#">Темою</a></li>
                  <li>{{#link-to "courses.index" (query-params f=null)}}Всі{{/link-to}}</li>
                  {{#each filters as |filter|}}
                    <li>{{#link-to "courses.index" (query-params f=filter.lira)}}{{filter.name}}{{/link-to}}</li>
                  {{/each}}
                </ul>
              </div>
            {{/if}}
          </div>

        </div>
      </div>
    </div>

    {{#if items}}
      {{course/course-list-tile
        items=items}}

      {{#if canLoadMore}}
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <div {{action "loadMore"}} class="btn btn-more">відкрити більше</div>
            </div>
          </div>
        </div>
      {{/if}}

    {{else}}
      <div class="container">
        <div class="row">
          <div class="col-md-12 mt-4">
            Нічого не знайдено.
          </div>
        </div>
      </div>

    {{/if}}

  </div>

</section>