<section class="sect-events">

  <div class="container">

    <div class="row">

      <div class="col-md-12">
        <p class="events-title">Події</p>
      </div>

    </div>

  </div>

  <div class="container cont2-sect-events">

    <div class="row">

      <div class="col-md-9 col-sm-9">

        {{!--<p class="t_cat">Перегляд за:</p>--}}
        {{!--<input name="" type="hidden" id="" value="Темою"><a class="trigger" href="#">Темою</a>--}}

        {{!--<div class="dropcontainer">--}}
        {{!--<ul class="dropdownhidden">--}}
        {{!--<li><a href="#">Темою</a></li>--}}
        {{!--<li><a href="#">Візії розвитку громадянського суспільства</a></li>--}}
        {{!--<li><a href="#">Соціальне підприємництво</a></li>--}}
        {{!--<li><a href="#">Соціальні послуги стратегії</a></li>--}}
        {{!--<li><a href="#">Управління організаціями</a></li>--}}
        {{!--<li><a href="#">Ефективні комунікації</a></li>--}}
        {{!--</ul>--}}
        {{!--</div>--}}

        {{!--<div class="block-select-date">--}}
        {{!--<input name="" type="hidden" id="" value="Датою"><a class="trigger" href="#">Датою</a>--}}

        {{!--<div class="dropcontainer">--}}
        {{!--<ul class="dropdownhidden">--}}
        {{!--<li><a href="#">Датою</a></li>--}}
        {{!--<li><a href="#">Дата 1</a></li>--}}
        {{!--<li><a href="#">Дата 2</a></li>--}}
        {{!--<li><a href="#">Дата 3</a></li>--}}
        {{!--<li><a href="#">Дата 4</a></li>--}}
        {{!--</ul>--}}
        {{!--</div>--}}

        {{!--</div>--}}

        {{!--<div class="year-events">2018</div>--}}

        {{common/common-filter
          class="filter"
          filters=filters
          endpoint="events.index"
          showDropdown=showDropdown
          currentFilter=f}}

        <div class="block-event">
          {{#each items as |item|}}
            {{#link-to "events.item" item.id}}
              <div class="block-event">
                <div class="row">
                  <div class="col-md-6 col-sm-12 col-12">

                    <div class="event-dates">

                      <div class="event-date1">
                        <div class="event-date1-day">{{moment-format item.startdate "DD" timeZone=item.timezone}}</div>
                        <div class="event-date1-month">{{moment-format item.startdate "MMM"
                                                                       timeZone=item.timezone}}</div>
                      </div>

                      <div class="event-date2">
                        {{#unless item.isStartEndSameDay}}
                          <div class="event-date2-day">{{moment-format item.enddate "DD" timeZone=item.timezone}}</div>
                          <div class="event-date2-month">{{moment-format item.enddate "MMM" timeZone=item.timezone}}</div>
                        {{/unless}}
                      </div>

                    </div>

                    <div class="event-image" style="{{item.imageStyle}}"></div>

                  </div>

                  <div class="col-md-6 col-sm-12 col-12">

                    <div class="event-about">
                      <p class="event-title">{{item.title}}</p>
                      <p class="event-summary">{{item.summary}}</p>
                    </div>

                  </div>
                </div>
              </div>
            {{/link-to}}
          {{/each}}
        </div>

        {{#if canLoadMore}}
          <div class="text-center">
            <div {{action "loadMore"}}
              class="btn btn-more btn-events">
              відкрити більше
            </div>
          </div>
        {{/if}}

      </div>

      <div class="col-md-3 col-sm-3">
        <div class="block-popular">
          <div class="block-calendar">
            <img class="calendar" src="/images/calendar.jpg" alt="">
          </div>
        </div>
      </div>

    </div>

  </div>

</section>