<section class="sect-stories">

  <div class="block-category-container text-center">
    <div class="text-category">
      <p class="category-name category-name-stories">Історії</p>
      <p class="slogan-name slogan-name-stories">що надихають</p>
    </div>
  </div>

  <div class="container-fluid cont2-sect-stories">
    {{story/story-slider
      items=model.stories}}
  </div>

</section>

<section class="sect-practices">

  <div class="block-category-container text-center">
    <div class="text-category">
      <p class="category-name category-name-practices">Практики</p>
      <p class="slogan-name slogan-name-practices">які допомагають</p>
    </div>
  </div>

  <div class="container cont2-sect-practices">
    {{practice/practice-list
      items=model.practices}}
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        {{#link-to "practices.index" class="btn btn-more btn-practices"}}
          відкрити більше
        {{/link-to}}
      </div>
    </div>
  </div>

</section>

<section class="sect-opportunities">

  <div class="block-category-container text-center">
    <div class="text-category">
      <p class="category-name category-name-opportunities">Можливості</p>
      <p class="slogan-name slogan-name-opportunities">що змінюють</p>
    </div>
  </div>

  <div class="container cont2-sect-opportunities">
    {{opportunity/opportunity-list
      items=model.opportunities}}
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        {{#link-to "opportunities.index" class="btn btn-more btn-opportunities"}}
          відкрити більше
        {{/link-to}}
      </div>
    </div>
  </div>

</section>

<section class="sect-courses">

  <div class="block-category-container text-center">
    <div class="text-category">
      <p class="category-name category-name-courses">навчання</p>
      <p class="slogan-name slogan-courses">що збагачують</p>
    </div>
  </div>

  {{course/course-homepage-list
    items=model.courses}}

  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        {{#link-to "courses.index" class="btn btn-more btn-courses"}}
          відкрити більше
        {{/link-to}}
      </div>
    </div>
  </div>

</section>

{{outlet}}